.element-wrap {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 400px;
    border: 1px solid gray;
    margin: -1px;
}
#control-panel {
    width: 100px;
    height: 100px;
    z-index: 100;
}