#robot-side {
	position:absolute;
	top:0px;
	left:0px;
}
#robot-arm-gb {
	position:absolute;
	left:180px;
	top:0px;
}

#robotArmInd {
	position:fixed;
	top:500px;
	left:50px;
}

.robot-arm {
	
	position:absolute;
}
.angle-display {
	position:absolute;
}
#arm-fake {
	opacity: 0.5;
}